body {
    display: block;
    margin: 8px;
    background-color: lightgrey;
}

.header {
    background-image: url(https://sm.ign.com/t/ign_ap/news/n/nintendo-w/nintendo-working-to-meet-fans-soaring-demand-for-a_uccy.1200.png);
    background-size: 165px;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #708090;
}

span.navigation {
    background-color: dodgerblue;
    height: 25%;
    float: left;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 0px;
}

a#new-task-form {
    font-family: 'Nanum Pen Script';
    font-size: 20px;
    padding-right: 5px;
    color: black;
}

a#tasks {
    font-family: 'Nanum Pen Script';
    font-size: 20px;
    color: black;
}

.inner-header {
    width: 850px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    padding-left: 100px
}

.logo-container h1 {
   height: 100%;
   display: table-cell;
   vertical-align: middle;
   font-family: 'Londrina Sketch';
   font-size: 64px;
   background-color: dodgerblue;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 3px;
}

h2 {
    font-family: 'Press Start 2P';
    font-size: 30px;
    color: rgb(216, 30, 5);
}

h3 {
    font-family: 'Permanent Marker';
    font-size: 30px;
    color: blue;
}

a {
    font-family: 'Permanent Marker';
    font-size: 26px;
    text-decoration: none;
    color: blue;
}

.show-task li {
    font-family: 'Schoolbell';
    font-size: 22px;
    list-style-type: disc;
}

label {
    font-family: 'Nanum Pen Script';
    font-size: 25px;
}

input[type=text]#task-name {
    width: 12%;
    padding: 3px 0px;
    margin: 3px 0;
    box-sizing: border-box;
}

select#taskroutine {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=submit] {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}

button#add-input {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}

input.task-instruction {
    width: 12%;
    padding: 3px 0px;
    margin: 3px 0;
    box-sizing: border-box;
}

button#delete {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}

button#update-task {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}