body {
    display: block;
    margin: 8px;
    background-color: lightgrey;
}

h2 {
    font-family: 'Press Start 2P';
    font-size: 30px;
}

a {
    font-family: ;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #708090;
}

span.navigation {
    background-color: dodgerblue;
    height: 25%;
    float: left;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 0px;
}

a#new-task-form {
    font-family: 'Nanum Pen Script';
    font-size: 20px;
    padding-right: 5px;
    color: black;
}

a#tasks {
    font-family: 'Nanum Pen Script';
    font-size: 20px;
    color: black
}

.inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #1E90FF
}

.logo-container {
    height: 100%;
    display: table;
    padding-left: 240px
}

.logo-container h1 {
   height: 100%;
   display: table-cell;
   vertical-align: middle;
   font-family: 'Londrina Sketch';
   font-size: 64px;
}



hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 3px;
}

button#delete {
    background: red;
    box-shadow: 5px black;
    border: outset;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

button#update-task {
    background: green;
    box-shadow: 5px black;
    border: outset;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}